@using PierresOrderTracker.Models;
@using System.Collections.Generic;

<h4>Vendor: @Model["vendor"].Name</h4>

<p>Order name: @Model["orders"].Name</p>
<p>Order Description: @Model["orders"].Description</p>
<p>Order Cost: @Model["orders"].Cost</p>
<p>Order Date: @Model["orders"].Date</p>
<p>Order Paid: @Model["orders"].Paid</p>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<br>
<a href='/vendors'>View all vendors</a>
 